HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac/Linux/Windows system files ###
.DS_Store
Thumbs.db

### Logs ###
*.log

# --- Java (API) ---
api/target/
api/**/*.class
api/.mvn/wrapper/maven-wrapper.jar
api/.idea
api/*.iml
api/.settings
api/.classpath
api/.project
api/help.md

# --- Node (Web) ---
web/node_modules/
web/dist/
web/dist-ssr/
web/*.local
web/.env
web/.DS_Store